<!-- Get credential provider from here: https://github.com/microsoft/artifacts-credprovider  -->
<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Dataglide" value="https://pkgs.dev.azure.com/Dataglide/_packaging/Dataglide/nuget/v3/index.json" />
  </packageSources>
</configuration>
